.dishes-preview ,.counter-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 60px;
    /* 调整间距 */
    justify-content: flex-start;
}

.dishes-preview a .counter-preview a {
    text-decoration: none;
    color: inherit;
}